<!DOCTYPE html>
<html lang="@System.Threading.Thread.CurrentThread.CurrentCulture.Name">
    <head>
        <meta charset="utf-8">
        <!-- SEO Meta Tags -->
        <title>@ViewData["Title"]</title>
        <meta name="keywords" content="@ViewData["Keywords"]">
        <meta name="description" content="@ViewData["Description"]">
        <meta name="author" content="https://ServiceBricks.com">
        <!-- Scripts and Style Sheets -->
    </head>
    <body>
        @RenderBody()
    </body>
</html>

